<nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-main">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <nav class="navbar navbar-light bg-faded">
    <h1 class="navbar-brand mb-0" routerLink="/home"><span id="cinema-text">Best</span>Films</h1>
  </nav>
  <div id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item"  [routerLinkActive]="['active']">
        <a class="nav-link justify-content-center" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item"  [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/cheapest-movies">Cheapest</a>
      </li>
    </ul>
  </div>
</nav>
<div class="row justify-content-center">
  <div class="col col-lg-9 offset-lg-1">
    <router-outlet></router-outlet>
  </div>
</div>
