<div *ngIf="isLoading" class="loading">Loading&#8230;</div>
<div *ngIf="alerts && alerts.length!=0" class="row alert-row">
  <div class="col p-0">
    <ngb-alert *ngFor="let alert of alerts"  [type]="alert.type" [dismissible]="true" (close)="closeAlert(alert)" (click)="clickAlert(alert)">{{alert.message}}</ngb-alert>
  </div>
</div>
<div class="row justify-content-sm-center justify-content-md-start justify-content-xl-start movies-container">

  <div *ngIf="moviesWithDetails && moviesWithDetails.length!=0" class="movie-slideshow">
    <div id="carouselExampleIndicators" class="carousel slide movie-box" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">

        <div *ngFor="let m of moviesWithDetails; let i = index" class="carousel-item" [class.active]="i==0" title="{{m.Title}}">
          <img class="image-slideshow d-block img-fluid" src="{{m.Poster}}" (click)="goToDetails(m.ID)" alt="{{m.Title}} image cannot be loaded">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div *ngFor="let m of moviesWithDetails; let i = index">
    <div class="card movie-box">
      <img class="card-img-top" src="{{m.Poster}}" alt="{{m.Title}} image cannot be loaded" (click)="goToDetails(m.ID)">
      <div class="card-block">
        <div class="card-title-div" ngbTooltip="{{m.Title}}">
          <a class="card-title" href="#/movie-details/{{m.ID}}"  >{{m.Title}}</a>
        </div>
        <div ngbTooltip="{{m.Rating}}">
          <span *ngFor="let star of +m.Rating | starMaker" id="{{star}}"></span>
        </div>
        <a *ngIf="m.Price && m.Price!=''" class="card-text price-text" (click)="buyMovie()">$ {{m.Price}} Buy</a>
        <div *ngIf="i==0 && topMarkerText" class="cheapest-triangle"></div>
        <div *ngIf="i==0 && topMarkerText" class="cheapest-text">{{topMarkerText}}</div>
      </div>
    </div>
  </div>
</div>


