
.card-img-top {
  width:200px;
  height:275px;
}

.card-img-top:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  cursor: pointer;
}
.card
{
  width: 200px;
  height: 400px;
  margin: 20px;
}
.card-title-div
{
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-title:hover, #price-text:hover {
  cursor: pointer;
  text-decoration: underline;

}

a { color: inherit; }


#cheapest-text {
  font-size: medium;
  color: black;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 354px;
  left: 130px;
  font-weight: bold;
  color: white;
}

#cheapest-triangle {
  width: 0;
  height: 0;
  border-bottom: 100px solid #bd4147;
  border-left: 100px solid transparent;
  position: absolute;
  top: 305px ;
  left: 105px;
}

#price-text
{
  color: #bd4147;
  font-weight: bolder;
}


