<div id="main-row" *ngIf="m.Poster &&
            m.Title &&
            m.Year &&
            m.Released &&
            m.Runtime &&
            m.Genre &&
            m.Rating &&
            m.Votes &&
            m.Plot &&
            m.Writer &&
            m.Director &&
            m.Actors &&
            m.Rated &&
            m.Language &&
            m.Country &&
            m.Metascore &&
            m.Awards" class="row">
  <div id="main-col" class="col-xl-6 offset-xl-3 movie-box">
    <div id="top-row" class="row">
      <div class="col-lg-12 col-xl-5 ">
        <img src="{{m.Poster}}"/>
      </div>
      <div class="col-lg-12 col-xl-7 ">
        <div class="row">
          <div class="col">
            <h1>{{m.Title}}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div id="year">{{m.Year}}</div>
            <div>{{m.Released}}<span id="runtime">{{m.Runtime}}</span></div>
            <div class="genre">{{m.Genre}}</div>
          </div>
          <div class="col">
            <div>{{m.Rating}}</div>
            <div>
              <span *ngFor="let star of +m.Rating | starMaker" id="{{star}}"></span>
            </div>
            <div id="votes">{{m.Votes}} <span id="votes-icon"></span></div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn-primary">$ {{m.Price}} Buy</button>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col">
        {{m.Plot}}
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col">CAST AND CREDITS</div>
        </div>
        <div class="row">
          <div class="col">
            <div class="movie-property-names">Writer</div>
            <div>{{m.Writer}}</div>
          </div>
          <div class="col">
            <div class="movie-property-names">Director</div>
            <div>{{m.Director}}</div>
          </div>
          <div class="col">
            <div class="movie-property-names">Actors</div>
            <div>{{m.Actors}}</div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col">ADDITIONAL INFORMATION</div>
        </div>
        <div class="row">
          <div class="col">
            <div class="movie-property-names">Rating</div>
            <div>{{m.Rated}}</div>
          </div>
          <div class="col">
            <div class="movie-property-names">Language</div>
            <div>{{m.Language}}</div>
          </div>
          <div class="col">
            <div class="movie-property-names">Country</div>
            <div>{{m.Country}}</div>
          </div>
          <div class="col">
            <div class="movie-property-names">Metascore</div>
            <div>{{m.Metascore}}</div>
          </div>
          <div class="col">
            <div class="movie-property-names">Awards</div>
            <div>{{m.Awards}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


