<div *ngIf="isLoading" class="loading">Loading&#8230;</div>
<div *ngIf="alert" class="row alert-row">
  <div class="col">
    <ngb-alert [type]="alert.type" [dismissible]="true" (close)="closeAlert(alert)" (click)="clickAlert(alert)">{{alert.message}}</ngb-alert>
  </div>
</div>
<div id="main-row" *ngIf="isSuccessGet==true" class="row">
  <div id="main-col" class="col-xl-7 offset-xl-2 movie-box">
    <div id="top-row" class="row">
      <div class="col-lg-12 col-xl-5 ">
        <img src="{{movieDetails.Poster}}"/>
      </div>
      <div class="col-lg-12 col-xl-7 ">
        <div class="row">
          <div class="col">
            <h1>{{movieDetails.Title}}</h1>
            <div class="text-left">{{movieDetails.Provider}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div id="year">{{movieDetails.Year}}</div>
            <div>{{movieDetails.Released}}<span id="runtime">{{movieDetails.Runtime}}</span></div>
            <div class="genre">{{movieDetails.Genre}}</div>
          </div>
          <div class="col">
            <div>{{movieDetails.Rating}}</div>
            <div>
              <span *ngFor="let star of +movieDetails.Rating | starMaker" id="{{star}}"></span>
            </div>
            <div id="votes">{{movieDetails.Votes}} <span id="votes-icon"></span></div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn-primary" (click)="buyMovie()">$ {{movieDetails.Price}} Buy</button>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col">
        {{movieDetails.Plot}}
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col">CAST AND CREDITS</div>
        </div>
        <div class="row">
          <div class="col">
            <div class="movie-property-names">Writer</div>
            <div>{{movieDetails.Writer}}</div>
          </div>
          <div class="col">
            <div class="movie-property-names">Director</div>
            <div>{{movieDetails.Director}}</div>
          </div>
          <div class="col">
            <div class="movie-property-names">Actors</div>
            <div>{{movieDetails.Actors}}</div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col">ADDITIONAL INFORMATION</div>
        </div>
        <div class="row">
          <div class="col">
            <div class="movie-property-names">Rating</div>
            <div>{{movieDetails.Rated}}</div>
          </div>
          <div class="col">
            <div class="movie-property-names">Language</div>
            <div>{{movieDetails.Language}}</div>
          </div>
          <div class="col">
            <div class="movie-property-names">Country</div>
            <div>{{movieDetails.Country}}</div>
          </div>
          <div class="col">
            <div class="movie-property-names">Metascore</div>
            <div>{{movieDetails.Metascore}}</div>
          </div>
          <div class="col">
            <div class="movie-property-names">Awards</div>
            <div>{{movieDetails.Awards}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






