<h3>Cheapest Movies</h3>

<div class="row justify-content-lg-center">
    <div *ngFor="let m of moviesWithDetails; let i = index">
    <div class="card">
      <img class="card-img-top" src="{{m.Poster}}" alt="Card image cap" onclick="GoToDetails(m.ID)">
      <div class="card-block">
        <a class="card-title" href="#/movie-details/{{m.ID}}">{{m.Title}}</a>
        <div>
        <!--make a component for this later-->
        <span *ngFor="let star of +m.Rating | fill">★</span>
        <span *ngFor="let star of 10 - +m.Rating | fill">☆</span>
      </div>
        <p class="card-text">$ {{m.Price}}</p>

        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
      </div>
    </div>
  </div>
</div>


