<h2>Cheapest Movies</h2>

<div class="row">
  <div class="col">
    <ngb-alert *ngFor="let alert of alerts"  [type]="alert.type" [dismissible]="true" (close)="closeAlert(alert)" (click)="clickAlert(alert)">{{alert.message}}</ngb-alert>
  </div>
</div>
<div class="row justify-content-lg-center movies-container">
    <div *ngFor="let m of moviesWithDetails; let i = index">
    <div class="card movie-box">

      <img class="card-img-top" src="{{m.Poster}}" alt="Card image cap" (click)="goToDetails(m.ID)">
      <div class="card-block">
        <a class="card-title" href="#/movie-details/{{m.ID}}">{{m.Title}}</a>
        <div>
        <!--make a component for this later-->
        <span *ngFor="let star of +m.Rating | fill">★</span>
        <span *ngFor="let star of 10 - +m.Rating | fill">☆</span>
      </div>
        <a id="price-text" class="card-text">$ {{m.Price}} Buy</a>

        <div *ngIf="i==0" id="cheapest-triangle"></div>
        <div *ngIf="i==0" id="cheapest-text">CHEAPEST</div>

      </div>
    </div>
  </div>
</div>


